body {
    font-family: 'Gill Sans';
    background-color: rgb(46, 46, 46);
  }
  .navbar h2 {
    color: rgb(255, 255, 255);
  }
  .main-content{
    margin: 0 auto;
    padding: 0 16px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(46, 46, 46);
    padding: 10px;
  }
  .navbar .right {
    padding: 5px;
    width: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar .right a {
    font-size: x-large;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  .navbar .right img {
    width: 30px;
    height: 30px;
  }
  
  .container-grid {
    display: grid;
    grid-template-areas:
      'first first second'
      'first first third'
      'six four third'
      'five seven seven'
      'five seven seven'
      'eight eight nine'
      'eight eight nine';
    grid-gap: 16px;
    width: 100%;
  }
  
  
  .gambar-layout {
    position: relative;
  }
  
  .gambar-layout img {
    width: 100%;
    object-fit: cover;
    height: 100%;
  }
  
  #first {
    grid-area: first;
  }
  #second {
    grid-area: second;
  }
  #third {
    grid-area: third;
  }
  #five {
    grid-area: five;
  }
  #four {
    grid-area: four;
  }
  #six {
    grid-area: six;
  }
  #seven {
    grid-area: seven;
  }
  #eight {
    grid-area: eight;
  }
  #nine {
    grid-area: nine;
  }

  @media only screen and (max-width: 1100px) {
    .main-content {
      max-width: 100%;
      padding: 0 auto;
    }
    .container-grid {
      max-width: 100%;
      grid-template-areas:
        'first'
        'second five'
        'third four'
        'seven seven'
        'six eight'
        'nine nine';
    }
  }
  
  @media only screen and (max-width: 600px) {
    .container-grid {
      margin-top: 5px;
    }
    .navbar {
      display: flex;
      justify-content: space-between;
      padding: 5px;
    }
    .navbar .right {
      width: 200px;
      display: flex;
      justify-content: space-between;
    }
    .navbar .right a {
      font-size: smaller;
      text-decoration: none;
      color: rgb(255, 255, 255);
    }
    
    .navbar .right img {
      width: 20px;
      height: 20px;
    }
    .container-grid {
      grid-template-areas:
        'first first'
        'second second'
        'third third'
        'four five'
        'seven seven'
        'six six'
        'eight eight'
        'nine nine';
    }
  }
